<div class="size-medium position-center">

  <h2 class="subhead">Edit Issue for <%= @region_name %></h2>

  <div class="box box-medium box-center">
    <%= simple_form_for [:admin, @country_state, @issue] do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>
