<div class="text-content">

<h2>About Neta</h2>
<p>
First of it’s kind in India, Neta App is a cross party platform which is aimed at increasing transparency, strengthen participatory governance and ensure accountability of our leaders. It is one stop solution for citizens, political parties, government and leaders to establish direct connect with each other, understand the behaviour, discuss issues, provide solutions and highlight achievements. 
</p>

<p>
Citizens can explore details of any leader and vote for their favourite leader if they are satisfied with their performance. Each citizen will be provided with 1 vote each for their MP and MLA which they could use and eventually transfer to other leaders if their favourite leader is not performing. Hence, all users will be able to see which leader is gaining popularity while which party is losing, based on performance. Citizens could also post issues or create opinion polls for their Assembly or Parliamentary constituencies.
</p>

<p>
Leaders could explore this platform to directly connect with voters, highlight the work done in the constituency and become more popular with their work not only in the AC or PC but also in entire state or country. 
</p>
</div>