<div class="text-content">
<h2>Leaders</h2>
<h3>Have a profile already in the app?</h3>

<p>Get rights to edit and manage your profile. Email us at <a href="mailto:admin@neta-app.com">admin@neta-app.com</a></p>

<h3>Don't see your name, but want to contest?</h3>

<p>Email us at <a href="mailto:admin@neta-app.com">admin@neta-app.com</a> with your name, phone number, constituency and we will call you to confirm your candidature.</p>
</div>