<ul class="score-list">
  <li class="score-item">
    <span class="score-points">10</span>
    <h3 class="score-title">Post an Issue and earn 10 points</h3>
  </li>

  <li class="score-item">
    <span class="score-points">10</span>
    <h3 class="score-title">Vote for a candidate and earn 10 points</h3>
  </li>


  <li class="score-item">
    <span class="score-points">8</span>
    <h3 class="score-title">Start a poll and earn 8 points</h3>
  </li>

  <li class="score-item">
    <span class="score-points">5</span>
    <h3 class="score-title">Vote on a poll on the dashboard and earn 5 points</h3>
  </li>

  <li class="score-item">
    <span class="score-points">5</span>
    <h3 class="score-title">Comment on an Issue or Poll and earn 5 points</h3>
  </li>

  <li class="score-item">
    <span class="score-points">2</span>
    <h3 class="score-title">Vote on a poll raised by Star Citizens and earn 2 points</h3>
  </li>

  <li class="score-item">
    <span class="score-points">1</span>
    <h3 class="score-title">Comment on a post and earn 1 point</h3>
  </li>
</ul>
