<div class="text-content">
<h2>Help and Support</h2>

<h3>FAQs</h3>

<p>
  <strong>Can I see other constituency’s data?</strong><br/>
  Yes, you can change your constituency in “Select your Constituency” and see the data. 
</p>

<p>
  <strong>How to vote someone?</strong><br/>
  Press “Vote now” button and your vote will be registered for your leader.
</p>

<p>
  <strong>How many times I can vote?</strong><br/>
  You have only one vote but you can transfer your vote to any leader multiple times in your constituency.
</p>

<p>
  <strong>Can I vote for other constituency’s leaders?</strong><br/>
  No.
</p>

<p>
  <strong>My leader is not listed, what to do?</strong><br/>
  You can create an issue with topic “My leader is not listed” and write the details of your leader.
</p>

<p>
  <strong>How to create a poll/issue?</strong><br/>
  Go to “Issues” section and press “+” sign. You will be asked to “Add Poll” or “Add Issue”. 
</p>

<p>
  <strong>What is a star citizen? How can I become one?</strong><br/>
  Star Citizens are the most informed and most active people of your constituency. More activities you do in the app, you get more points to improve your ranking in star citizen chart. Please go to “How to score” menu to see the scoring details.
</p>

<p>
  <strong>How can I increase my score?</strong><br/>
  Please go to “How to score” menu.
</p>

<p>
  <strong>What is the benefit of high score?</strong><br/>
  If your score is high, your profile will be shown to all your constituency people in the leaderboard of star citizens. It will help you to get more popularity in the mass. If you get high enough score, your profile will be shown on All-India level. Your name could be recommended to major political parties in your area for candidature.
</p>

<p>
  <strong>How to become a party member?</strong><br/>
  Go to “Become a party member” menu and choose your party. 
</p>

<p>
  <strong>How to donate for my party?</strong><br/>
  Click on “Donate” option and submit your donation. You will get a receipt on your email.
</p>


<p>For any other clarification, suggestion or technical issue, please write a mail to <a href="mailto:support@downloadnet.com">support@downloadnet.com</a></p>
</div>
