<%= content_for :header_actions do %>
  <%= link_to "Add Profession", new_admin_profession_path, class: "header-button" %>
<% end %>

<div class="main">
<h2 class="subhead">Professions</h2>

<table class="box table">
  <thead class="table-header">
    <tr>
      <th>Name</th>
      <th>&nbsp</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody class="table-body">
  <% @professions.each do |profession| %>
    <tr>
      <td class="table-row-header">
        <%= profession.name %> <br/>
      </td>
      <td class="table-row-links">
      </td>
      <td class="table-row-actions">
        <%= link_to 'edit', edit_admin_profession_path(profession), class: "button" %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>