<div class="size-medium position-center">

  <h2 class="subhead">Edit Party: <%= @party.name %> [<%= @party.abbreviation %>]</h2>

  <div class="box box-medium box-center">
    <%= simple_form_for [:admin, @party] do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>
