.table {
  border-collapse: collapse;
  border-bottom: solid 10px $white;

  td:first-child,
  th:first-child {
    padding-left: 24px;
  }

  td:last-child,
  th:last-child {
    padding-right: 24px;
  }

  &-header {
    font-size: 11px;
    color: $gray-light;
    text-transform: uppercase;
    text-align: left;

    th {
      font-weight: 400;
      line-height: 36px;
    }
  }

  &-body {
    tr td {
      line-height: 24px;
      padding: 8px;
      vertical-align: top;
    }

    tr:hover td {
      background: rgba($primary-color, 0.1);
    }
  }

  &-row {
    img {
      border-radius: 3px;
    }

    &-header {
      text-transform: capitalize;
      font-weight: 500;
    }

    &-actions {
      text-align: right;
      font-size: 11px;
      text-transform: uppercase;
      position: relative;
      width: 300px;

      form {
        display: inline;
      }
    }
  }
}
